.homepage .whitescreen {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: backgroundanimation 7.5s forwards ease-in-out;
  z-index: 999999;
}

@keyframes backgroundanimation {
  0% {
    background: white;
    opacity: 1;
    display: block;
  }

  60% {
    background: white;
    opacity: 1;
    display: block;
  }

  80% {
    background: white;
    opacity: 1;
    display: block;
  }

  90% {
    opacity: 0;
    display: none;
    z-index: -1;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

.animation-wrap {
  position: fixed;
  top: 40vh;
  bottom: 0;
  left: 0;
  right: 0%;
  z-index: 9999999;
  animation: backgroundanimation 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
}

.before-enter {
  opacity: 0;
  transition: all 1s ease;
}

.enter {
  opacity: 1;
}

.member.before-enter {
  transform: translateY(100px);
}

.member.enter {
  transform: translateY(0);
}

.animation-wrap p {
  position: absolute;
  left: 42vw;
  right: auto;
  text-transform: uppercase;
  color: #999999;
  font-size: 8.05vw;
  font-family: Bodoni-16, sans-serif;
  text-align: left;
  line-height: 7.4vw;
}


.animation-txtx img {
  width: 5.5vw;
  left: 34.5vw;
  position: absolute;
  top: 1vw;
  right: auto;
  animation: animation-x 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
  /* animation-iteration-count: 4; */
}

@keyframes animation-x {

  10% {
    transform: rotateZ(0deg);
  }

  20% {
    transform: rotateZ(90deg);
  }

  30% {
    transform: rotateZ(180deg);
  }

  40% {
    transform: rotateZ(270deg);
  }

  50% {
    transform: rotateZ(360deg);
  }

  60% {
    transform: rotateZ(450deg);
  }

  70% {
    transform: rotateZ(450deg);
  }

  100% {
    transform: rotateZ(450deg);
  }
}

.animation-e {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  margin: 0.2vw auto;
  animation: animation-1 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
}


.animation-e img {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;

}

@keyframes animation-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.animation-txt1 {
  animation: animation-2 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
}

@keyframes animation-2 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.animation-txt2 {
  animation: animation-3 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
}

@keyframes animation-3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.animation-txt3 {
  animation: animation-4 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
}

@keyframes animation-4 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.animation-txt4 {
  animation: animation-5 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
}

@keyframes animation-5 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* .animation-txt5 {
  animation: animation-6 7.5s forwards cubic-bezier(0.5, 0, 0, 1);
} */

@keyframes animation-6 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.animation-txtlogo {
  animation: animation-6 7.5s forwards ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  margin: 0.3vw auto;
}

.animation-txtlogo img {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

@keyframes animation-8 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 400px) {
  .animation-txtx img {
    width: 5vw;
    left: 37.6vw;
  }

  .animation-wrap p {
    left: 43.6vw;
  }
}